
.home{

  &-sitefeaturesicons{
    padding: 40px 0;
    padding-top: 70px;
  }

  &-summarytable{
    padding: 40px 0;

    .sitetitle{
      padding-bottom: 30px;
    }
  }

  &-sitefeatureboxs{
    padding: 40px 0;
    padding-bottom: 0;

    &-boxes{
      padding: 30px 0;
      position: relative;

      &::before{
        content: "";
        background-color: #f0f0f5;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &-accounttypes{
    background-color: #f0f0f5;
    padding: 60px 0;
    min-height: 650px;
    overflow: hidden;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100px;
      border-left: 200vh solid transparent;
      border-right: 0 solid transparent;
      border-bottom: 265px solid $global-clr-white;
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    &-boxes{
      padding: 30px 0;

      > .container{
        position: relative;
      }

      .component-siteaccounttypes{
        background-color: #f0f0f5;
        max-width: 860px;
        position: relative;
        z-index: 2;
      }
    }

    &-laptop{
      position: absolute;
      top: -80px;
      right: -155px;
      z-index: 1;
    }
  }

  &-instruments{
    padding: 60px 0 180px;

    $carousel-icons-circle-width: 166px;

    .sitetitle-dark{
      padding-bottom: 135px;
    }

    &-carousel{
      background-image: linear-gradient(to bottom, #488fec, #354ccb);

      .nav{
        @include flexbox-display-flex();
        @include flexbox-justify-content(space-between);
        position: absolute;
        width: calc(100% - 30px);
        top: calc(-#{$carousel-icons-circle-width} / 2);
        z-index: 1;

        > li{
          text-align: center;

          .boxcontent{
            color: $global-clr-white;
            max-width: calc(#{$carousel-icons-circle-width} + 15px);
            margin: auto;

            &-icons{
              color: $global-clr-soft-blue;
              background-color: $global-clr-white;
              @include flexbox-display-flex();
              @include flexbox-justify-content(center);
              @include flexbox-align-items(center);
              width: $carousel-icons-circle-width;
              height: $carousel-icons-circle-width;
              margin: 0 auto 20px;
              @include border-radius(50%);
              @include box-shadow(20px, 20px, 5px, transparentize($global-clr-dark-gray, 0.75));
              @include transition-multiple(background-color 0.15s ease-in-out);
            }

            &-title{
              font-size: 20px;
              line-height: 1;
              margin-bottom: 7px;
            }

            &-desc{
              font-size: 18px;
              line-height: 1.22;
            }
          }

          &.active{
            .boxcontent-icons{
              background-color: $global-clr-green;

              i[class*="icons"]{
                @include svg-filter(0%, 1, 0, 100%);
              }
            }
          }

          &[data-slide-to="0"].active{}
          &[data-slide-to="1"].active{}
          &[data-slide-to="2"].active{}
          &[data-slide-to="3"].active{}
        }
      }

      .carousel{
        min-height: 630px;

        &-inner{
          padding-top: calc(#{$carousel-icons-circle-width} + 100px);
          position: absolute;
          bottom: -205px;
        }

        &-item{
          color: $global-clr-white;

          .sitetitle-soft{
            padding-left: 130px;
          }
        }

        &-img{}

        &-txt{}

        &-btn{
          width: 190px;
          font-size: 20px;
          font-weight: 500;
          line-height: 1.35;
          border: none;
          margin: 20px 0 0 auto;
          display: block;
        }
      }
    }
  }

  &-news{
    padding: 60px 0 80px;

    .sitetitle{
      padding-bottom: 55px;
    }
  }

  &-mobileapps{
    color: $global-clr-white;
    background-image: url(#{$global-img-path-section}/mobile_apps_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-row{
      @include flexbox-align-items(center);
    }

    &-img{
      img{
        position: relative;
        left: -170px;
      }
    }

    &-txt{

      .sitetitle{
        height: 100%;
      }
    }
  }

}