.sitecontent{

  &-borderbox{
    border: 1px solid $global-border-light-gray;
    @include border-radius(4px);
  }

  &-desc{
    h1{font-size: 36px; line-height: 1.15; letter-spacing: -1.14px;}
    h2{font-size: 32px; line-height: 1.15; letter-spacing: -1.14px;}
    h3{font-size: 28px; line-height: 1; letter-spacing: -0.84px;}
    h4{font-size: 22px; line-height: 1.09; letter-spacing: -0.6px;}
    h5{font-size: 18px;}
    h6{font-size: 16px;}
    h1+p,h2+p,h3+p,h1+ul,h2+ul,h3+ul{margin-top: 10px;}
    h4+p,h5+p,h6+p,h4+ul,h5+ul,h6+ul{margin-top: 5px;}

    p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,ul+h1,ul+h2,ul+h3,ul+h4,ul+h5,ul+h6{margin-top: 30px;}
    p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,ul+h1,ul+h2,ul+h3,ul+h4,ul+h5,ul+h6{margin-top: 30px;}
    p+p,p+ul,p+ol{margin-top: 10px;}
    p{font-size: 16px; font-weight: normal; line-height: 1.38; letter-spacing: -0.48px;}
    ul, ol{font-size: 16px; font-weight: normal; line-height: 1.38; letter-spacing: -0.48px;}
    ul > li, ol > li{/*margin-bottom: 15px;*/}
    ul > li:last-child, ol > li:last-child{margin-bottom: 0;}
    strong,b{font-weight: 500;}
    p a, li a{color: $global-clr-text-light; font-weight: 500;}

    @include BootstrapMaxWidthResponsive(1k){
      h2{font-size: 28px;}
      h3{font-size: 26px;}
      h4{font-size: 20px;}
      p, ul, ol{font-size: 15px;}
      p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,ul+h1,ul+h2,ul+h3,ul+h4,ul+h5,ul+h6{margin-top: 20px;}
      p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,ul+h1,ul+h2,ul+h3,ul+h4,ul+h5,ul+h6{margin-top: 20px;}
    }
    @include BootstrapMaxWidthResponsive(lg){
      h2{font-size: 26px;}
      h3{font-size: 24px;}
      h4{font-size: 18px;}
      p, ul, ol{font-size: 14px;}
      p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,ul+h1,ul+h2,ul+h3,ul+h4,ul+h5,ul+h6{margin-top: 15px;}
      p+h1,p+h2,p+h3,p+h4,p+h5,p+h6,ul+h1,ul+h2,ul+h3,ul+h4,ul+h5,ul+h6{margin-top: 15px;}
    }
    @include BootstrapMaxWidthResponsive(md){
      h2{font-size: 24px;}
      h3{font-size: 22px;}
      h4{font-size: 16px;}
    }
  }

  ul.ullist{
    li{
      position: relative;
      padding-left: 15px;

      &::before{
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        left: 0;
      }
    }

    &-dotted{
      li{
        &::before{
          width: 8px;
          height: 8px;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPg0KICA8ZyBpZD0iQmFja2dyb3VuZCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMGQ3OGM0IiBzdHJva2Utd2lkdGg9IjEiPg0KICAgIDxyZWN0IHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHJ4PSI0IiBzdHJva2U9Im5vbmUiLz4NCiAgICA8cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjciIGhlaWdodD0iNyIgcng9IjMuNSIgZmlsbD0ibm9uZSIvPg0KICA8L2c+DQo8L3N2Zz4NCg==");
          top: 7px;

          @include BootstrapMaxWidthResponsive(1k){
            top: 6px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            top: 5px;
          }
        }
      }
    }
  }

  ol.matterlist01{
    list-style: none;
    counter-reset: item;
    margin-left: 0;

    &-head{
      > li{
        margin-bottom: 20px !important;

        @include BootstrapMaxWidthResponsive(1k){
          margin-bottom: 15px !important;
        }
        @include BootstrapMaxWidthResponsive(lg){
          margin-bottom: 10px !important;
        }
      }
    }

    > li{
      padding-left: 20px;
      position: relative;
      margin-bottom: 10px;

      @include BootstrapMaxWidthResponsive(lg){
        padding-left: 20px;
      }

      &::before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        font-weight: 500;
        width: 20px;
        display: inline-block;
        position: absolute;
        left: 0;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -.6px;
      }
    }

    ol.nomatter{
      margin-left: 0;
      margin-top: 5px;

      li.nomatter{
        padding-left: 0 !important;

        &::before {
          visibility: hidden;
          position: absolute;
          left: 0;
          display: inline-block;
        }
      }
    }
  }

  &-alertboxinfo{
    padding: 15px 20px;
    border: 1px solid $global-border-light-gray;
    @include border-radius(4px);

    h4{
      font-size: 16px;
      font-weight: normal;
      letter-spacing: -0.48px;
    }

    p{
      color: $global-clr-text-dark;
      font-size: 14px;
      letter-spacing: -0.14px;
      margin-top: 5px;
    }

    i{
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      overflow: hidden;
      display: inline-block;
      position: relative;
    }

    &.infosuccess{
      background-color: lighten($global-clr-orange, 48%);
      border-color: lighten($global-clr-orange, 35%);

      h4{color: $global-clr-orange;}
      i{background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQwIDQ4Ij4NCiAgPGcgaWQ9ImNsYXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0wLjQ5OSAtMC4wMDEpIj4NCiAgICA8cGF0aCBpZD0iUGF0aF82MTkiIGRhdGEtbmFtZT0iUGF0aCA2MTkiIGQ9Ik0zNy45LDgxLjkwOGwyLjA0LTIuNDA2YTIuODY3LDIuODY3LDAsMCwwLS42NjctNC4wMjcsMy40ODUsMy40ODUsMCwwLDAtMS40NjItLjcsMywzLDAsMCwwLC41MzQtMS45OTFBMy4wNDEsMy4wNDEsMCwwLDAsMzcuMjIyLDcwLjdhMy4xODYsMy4xODYsMCwwLDAtNC40Mi40bC0uODQ1LDFhMy4wNDEsMy4wNDEsMCwwLDAtLjkyMy0xLjMwNSwzLjE2NywzLjE2NywwLDAsMC0yLjI1OS0uNywzLjEsMy4xLDAsMCwwLTEuNTgxLTIuMTZBMy4xNzgsMy4xNzgsMCwwLDAsMjQuOCw2Ny42OGEzLjEwNiwzLjEwNiwwLDAsMC0xLjg2OSwxLjQ4TDIyLjMsNzAuM2EzLjA3NCwzLjA3NCwwLDAsMC0xLjE2NC0xLjEsMy4xNzUsMy4xNzUsMCwwLDAtNC4yNTgsMS4yMzJsLTMuMyw1LjkzNGE0LjYzMSw0LjYzMSwwLDAsMC0zLjUyLjYzNCwxLjY1NywxLjY1NywwLDAsMC0uNzI5LDEuMDYxLDEuNjMyLDEuNjMyLDAsMCwwLC4yNSwxLjI1NmwxLjMsMS45MTktLjExNS4yMDZMOC4yNjUsNzkuM0E0LjY0MSw0LjY0MSwwLDAsMCwxLjgsNzkuMjcyYTEuNjUsMS42NSwwLDAsMC0uMDEyLDIuMzY1bDEuODQ1LDEuODI4YzIuNDY0LDIuNDQxLDIuOTA2LDMuMTgsMi40MzUsNi4xNjFMNS41LDkyLjkzMmEuOC44LDAsMCwwLS41ODEtLjA1Ny43ODYuNzg2LDAsMCwwLS40Ny4zNzJMLjYsMTAwLjE4N2EuNzYyLjc2MiwwLDAsMC0uMDY0LjU4OS43NzguNzc4LDAsMCwwLC4zNzkuNDYxbDE0Ljc0LDcuODc0YS44LjgsMCwwLDAsLjYuMDYyLjc4Ni43ODYsMCwwLDAsLjQ3LS4zNzJsLjI4NC0uNTEzLjc1LjYxMmEuOC44LDAsMCwwLDEuMTExLS4xbDUuMTUyLTYuMDc1YS43NjIuNzYyLDAsMCwwLC4xNzktLjU2Ni43NzEuNzcxLDAsMCwwLS4yODEtLjUyNGwtLjA3MS0uMDU3LDEuMzEzLTEuNTQ4QTUuMjE4LDUuMjE4LDAsMCwwLDI5LjMyOSw5OC4yTDM5LjQsODYuMzNhMi43MTcsMi43MTcsMCwwLDAtLjM2My0zLjg3MiwyLjc4NiwyLjc4NiwwLDAsMC0xLjE0Mi0uNTQ5Wk0yNC4zMjIsNjkuOWExLjU3NywxLjU3NywwLDAsMSwyLjExNy0uNjEyLDEuNTI5LDEuNTI5LDAsMCwxLC44MDUsMS4zNDYsMy4wNywzLjA3LDAsMCwwLS42MzEuNTVsLTguMTc1LDkuNjM4LS4xMDYtLjEzNFptLTYuMDU0LDEuMjY2YTEuNTc4LDEuNTc4LDAsMCwxLDIuMTE3LS42MTMsMS41MTgsMS41MTgsMCwwLDEsLjYyNCwyLjA3N2wtLjA2LjEwOS0zLjY3NCw2LjYxNi0uODcxLTEuMWE0LjUwNyw0LjUwNywwLDAsMC0xLjM1MS0xLjNaTTQuNzU0LDgyLjM3NiwyLjkwOSw4MC41NDdhLjEzNi4xMzYsMCwwLDEsMC0uMTc1LDIuOTI4LDIuOTI4LDAsMCwxLDIuMTIyLS44NSwzLjA1MSwzLjA1MSwwLDAsMSwyLjE1Ni45MWwzLjI4NywyLjhhLjguOCwwLDAsMCwuNjU4LjE3OC43ODcuNzg3LDAsMCwwLC41NTMtLjM5MWwuMTY5LS4zYzEuMTcsMS45MiwxLjIzMSwyLjg3OC4zNTMsNS4yNDVMMTEsOTEuMWEuOC44LDAsMCwwLTEuMDkzLjEwOWwtMi4zNzcsMi44LS41Ni0uMy42NTgtMy44MzljLjU1Ni0zLjUyMS0uMTEyLTQuNzYzLTIuODcxLTcuNVptMTAuOTYsMjUuMDA1TDIuMzU5LDEwMC4yNDcsNS40MzMsOTQuNzFhLjc3Mi43NzIsMCwwLDAsLjI2LjIzOWwuNzE0LjM4MUw0Ljc1MSw5Ny4yODNhLjc2NC43NjQsMCwwLDAsLjEsMS4wOUwxNS43NywxMDcuMjhabTIuNDQ2LS4xNjVMNi40NjksOTcuNjc3LDEwLjU4LDkyLjgzYS43NjIuNzYyLDAsMCwwLC4yMDguMjg0bDExLjM1NSw5LjI2NWEuODI1LjgyNSwwLDAsMCwuMDgxLjA0NVpNMzguMTg3LDg1LjM0LDI4LjExNyw5Ny4yMTRhMy42MzcsMy42MzcsMCwwLDEtMy4yMDcsMS4yNDYuNzkuNzksMCwwLDAtLjcuMjczbC0xLjU3MywxLjg1NUwxMi4yODEsOTIuMTQxbDEuNC0zLjY0MWMxLjI0Mi0zLjM0OC44MzItNC42OTMtMS4zMzUtNy45TDEwLjksNzguNDU2YS4xMzguMTM4LDAsMCwxLC4wMzUtLjE3MywzLjAzNSwzLjAzNSwwLDAsMSw0LjE4NS44NzNsMS42NSwyLjA4NSwwLC4wMDUsMS4wMTcsMS4yODVhLjguOCwwLDAsMCwuNjEuMy44OTQuODk0LDAsMCwwLC42Mi0uMjc5bDguOC0xMC4zNzhhMS41ODIsMS41ODIsMCwwLDEsMi4yLS4yLDEuNTEzLDEuNTEzLDAsMCwxLC4yLDIuMTU0aDBsLTQuNTA4LDUuMzE1YS43NjQuNzY0LDAsMCwwLC4xLDEuMDkuOC44LDAsMCwwLDEuMTExLS4xbDQuNTA4LTUuMzE1LDAsMCwyLjU3My0zLjAzM2ExLjU4MywxLjU4MywwLDAsMSwyLjItLjIsMS41MSwxLjUxLDAsMCwxLC4yLDIuMTU1TDM1LjE4MSw3NS41Yy0uMDIzLjAyNS0uMDUxLjA0Mi0uMDczLjA2OHMtLjAxNi4wMzQtLjAyOC4wNTFsLTcuNDY4LDguODA2YS43NjMuNzYzLDAsMCwwLC4xLDEuMDkuOC44LDAsMCwwLDEuMTExLS4xTDM2LjM4LDc2LjVhMS40NzcsMS40NzcsMCwwLDEsMS44NzguMTYzLDEuMzgxLDEuMzgxLDAsMCwxLC40NjQsMS44NDhsLTUuNTc2LDYuNTc0LS4wNTIuMDZoMGwtMS43MTgsMi4wMjZhLjc2My43NjMsMCwwLDAsLjEsMS4wODkuOC44LDAsMCwwLDEuMTExLS4xTDM0LjMsODYuMTQyaDBsMi0yLjMzOGExLjI0MywxLjI0MywwLDAsMSwxLjcyNS0uMTU2LDEuMTg4LDEuMTg4LDAsMCwxLC4xNTksMS42OTNabTAsMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtNjEuMjA0KSIgZmlsbD0iI2U5MmUxOCIvPg0KICAgIDxwYXRoIGlkPSJQYXRoXzYyMCIgZGF0YS1uYW1lPSJQYXRoIDYyMCIgZD0iTTk3Ljg3LDM3MC41NjNhMS4zMjEsMS4zMjEsMCwxLDAsMS40MzYsMS4xOTVBMS4zMjEsMS4zMjEsMCwwLDAsOTcuODcsMzcwLjU2M1ptMCwwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODYuOTcxIC0zMzUuODIxKSIgZmlsbD0iI2U5MmUxOCIvPg0KICAgIDxwYXRoIGlkPSJQYXRoXzYyMSIgZGF0YS1uYW1lPSJQYXRoIDYyMSIgZD0iTTg4LjMxOSw2My41NzZsNC43MjEsMS41NDlhLjc3Ni43NzYsMCwwLDAsLjQ4My0xLjQ3NUw4OC44LDYyLjFhLjc3Ni43NzYsMCwwLDAtLjQ4MywxLjQ3NVptMCwwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzguOTE5IC01Ni4yMjkpIiBmaWxsPSIjZTkyZTE4Ii8+DQogICAgPHBhdGggaWQ9IlBhdGhfNjIyIiBkYXRhLW5hbWU9IlBhdGggNjIyIiBkPSJNMTI5LjM3OSwyMS4wNjFhLjc3Ni43NzYsMCwxLDAsMS4zLS44NDlsLTIuMTIzLTMuMjQ3YS43NzYuNzc2LDAsMCwwLTEuMy44NDlabTAsMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNC41MTEgLTE1LjA1MSkiIGZpbGw9IiNlOTJlMTgiLz4NCiAgICA8cGF0aCBpZD0iUGF0aF82MjMiIGRhdGEtbmFtZT0iUGF0aCA2MjMiIGQ9Ik0xODAuMTA5LDYuMzdhLjguOCwwLDAsMCwuMTYuMDE3Ljc3Ny43NzcsMCwwLDAsLjc1OS0uNjE3TDE4Mi4wNC45MzZBLjc3Ni43NzYsMCwxLDAsMTgwLjUyLjYxOGwtMS4wMTIsNC44MzRBLjc3Ni43NzYsMCwwLDAsMTgwLjEwOSw2LjM3Wm0wLDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNjEuODcxIDApIiBmaWxsPSIjZTkyZTE4Ii8+DQogIDwvZz4NCjwvc3ZnPg0K");}
    }
  }

  &-boxlinelist{
    background-color: lighten($global-clr-soft-gray, 2%);
    padding: 50px;
    @include border-radius(4px);

    @include BootstrapMaxWidthResponsive(1k){
      padding: 40px;
    }
    @include BootstrapMaxWidthResponsive(md){
      padding: 30px;
    }
    @include BootstrapMaxWidthResponsive(sm){
      padding: 20px;
    }

    .linelistli{

      &-item{
        padding: 5px 0 5px 20px;
        margin-bottom: 25px;
        position: relative;

        &::before{
          content: "";
          background-color: $global-clr-red;
          width: 2px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  &-accordion{

    &-item{
      background-color: $global-clr-soft-gray;
      position: relative;
      margin-top: 10px;

      &:first-child{
        margin-top: 0;
      }

      &.active{
        .heading {
          color: $global-clr-white;
          background-color: $global-clr-soft-gray;

          .title{
            color: $global-clr-white;
          }
        }
        .icon {
          background: transparent;
          &::before {
            background: transparent;
            top: calc(50% - -1px);
            left: calc(50% - 4px);
            @include rotate(315);
            border-color: $global-clr-white;
          }
          &::after {
            content: "";
            position:absolute;
            background-color: transparent;
            width: 9px;
            height: 9px;
            padding: 0;
            border-top: 2px solid $global-clr-white;
            border-right: 2px solid $global-clr-white;
            top: calc(50% - 9px);
            left: calc(50% - 4px);
            @include rotate(135);
          }
        }
      }

      .heading {
        color: $global-clr-dark-blue;
        background-color: $global-clr-soft-gray;
        display: block;
        text-decoration: none;
        font-size:17px;
        position: relative;
        padding: 8px 35px 9px 15px;
        @include transition(all, 0.2s, linear);

        &:hover {
          background-color: transparentize($global-clr-soft-gray, 0.2);

          .icon {
            background-color: transparent;

            &::before,
            &::after {
              background: transparent;
              border-color: $global-clr-white;
            }
          }

          .title{
            color: $global-clr-white;
          }
        }
      }

      .icon {
        background-color: transparent;
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        @include translate(0,-50%);
        @include transition(all, 0.3s, ease-in-out);

        &::before{
          content: "";
          position:absolute;
          background-color: transparent;
          width: 9px;
          height: 9px;
          padding: 0;
          border-top: 2px solid $global-clr-dark-blue;
          border-right: 2px solid $global-clr-dark-blue;
          top: calc(50% - 6px);
          left: calc(50% - 4px);
          @include rotate(135);
        }

      }

      .content {
        padding: 15px;
        display: none;

        .accimage{
          border: 5px solid $global-clr-soft-gray;
          margin-bottom: 15px;
        }

        p{
          font-size: 15px;
          margin-bottom: 15px;

          &:last-child{
            margin-bottom: 0;
          }
        }

        &-subtitle{
          font-size: 17px;
          font-weight: 500;
          margin: 0;
        }

        &-contlist{
          color: $global-clr-dark-blue;
          text-align: left;
          margin: auto;
          margin-bottom: 15px;

          li{
            position: relative;
            padding-left: 17px;

            &::before{
              content:"";
              position:absolute;
              width: 9px;
              height: 9px;
              top: 8px;
              left: 0;
              border-top:2px solid $global-clr-red;
              border-right:2px solid $global-clr-red;
              @include rotate(45);
            }
          }
        }
      }
    }
  }

}