.sitedropdown{

  &-toggle{

    &[data-toggle="dropdown"]{
      color: $global-clr-text-dark;
      background-color: transparent;
      @include transition-multiple(background 0.15s ease-in-out);

      &:hover{
        i{@include svg-filter(100%, 0, 0, 100%);}
      }
    }

    &[aria-expanded="true"]{
      position: relative;
      z-index: 1;
      background-color: transparent !important;
      border-color: transparent !important;

      i{@include svg-filter(0%, 1, 0, 100%);}

      &::after{
        @include rotate(-180);
        @include svg-filter(0%, 1, 0, 100%);
      }

      &:hover{
        i{@include svg-filter(0%, 1, 0, 100%);}
      }
    }

    &::after{
      content: "";
      border: none;
      vertical-align: unset;
      display: inline-block;
      margin-left: 7px;
      background-image: url(#{$global-img-path-icons}/icons_spite_12_dark.svg);
      background-position: 12px 0;
      width: 12px;
      height: 12px;
    }

    > i[class*="sprite-20"]{
      //top: 3px !important;
    }
  }

  &-menu{
    background-color: $global-sitebg-darkblue01 !important;
    padding: 50px 0 0;
    margin: 0;
    border: none;
    min-height: 130px;
    width: 100% !important;
    min-width: auto;
    left: 0 !important;
    top: -5px !important;
    transform: none !important;
    z-index: 0 !important;
    @include animation-duration(0.5s);
    @include border-radius(14px);

    &.show{}

    .dropdownmenu{
      color: $global-clr-white;
      padding: 10px 30px 20px;

      &-item{
        font-size: 16px;
        letter-spacing: -0.16px;
        padding: 2px 0;

        > a{
          color: $global-clr-white;
          display: block;
        }
      }
    }
  }

}
