.sitetable{
  color: $global-clr-text-dark;
  margin: 0;

  &.theadsoftdark{
    thead{
      tr{
        th{
          background-color: transparentize($global-border-light-gray, 0.50);
        }
      }
    }
  }

  &.tbodyodd{
    tbody{
      tr{
        &:nth-child(even){
          background-color: transparentize($global-border-light-gray, 0.75);
        }
        td{}
      }
    }
  }

  thead tr th, tbody tr td{
    border-color: $global-border-light-gray;
    vertical-align: middle;
    font-size: 16px;
    font-weight: normal;
  }

  thead{
    tr{
      th{
        font-size: 18px;
        font-weight: 500;
        border-top-width: 0;
        border-bottom-width: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  tbody{
    tr{
      td{

      }
    }
  }

  &.smalltable{

    thead{
      tr{
        th{
          font-size: 14px;
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
    }

    tbody{
      tr{
        td{
          font-size: 12px;
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }
    }

  }
}