.sitetabs{

  .nav{

    &-center{
      @include flexbox-justify-content(center);
    }

    &-space-between{
      @include flexbox-justify-content(space-between);
    }

    &-tabs{
      border-bottom: none;
    }

    &-item{
      margin: 0;
    }

    &-link{
      color: $global-clr-text-dark;
      font-family: $global-font-family-proximanova-bold !important;
      font-size: 18px;
      padding: 1rem 0.75rem;
      border: none;
      @include transition-multiple(color 0.15s ease-in-out);

      &:hover{
        color: lighten($global-clr-text-dark, 30%);
      }

      &.active{
        color: $global-clr-soft-blue;
      }
    }
  }

}