
.width{
  &per100{width: 100% !important;}
  &150{width: 150px !important;}
}

.maxwidth{
  &100{width: 100%; max-width: 100px}
  &150{width: 100%; max-width: 150px}
  &250{width: 100%; max-width: 250px}
  &300{width: 100%; max-width: 300px}
  &400{width: 100%; max-width: 400px}
}

.minwidth{
  &100{min-width: 100px !important;}
  &150{min-width: 150px !important;}
  &225{min-width: 225px !important}
  &250{min-width: 250px !important}
  &300{min-width: 300px !important}
  &400{min-width: 400px !important}
  &per100{min-width: 100%}
}