
.siteformui{
  form{
    *, *::before, *::after {
      letter-spacing: -.42px;
    }
  }
}

.sitemodalformbox{
  background-color: transparentize($global-clr-soft-blue, 0.85);
  padding: 40px;
  @include border-radius(14px);
  @include box-shadow(0, 0, 20px, transparentize($global-clr-dark-black, 0.95));

  @include BootstrapMaxWidthResponsive(md){
    padding: 30px;
  }
  @include BootstrapMaxWidthResponsive(sm){
    padding: 25px;
  }
  @include BootstrapMaxWidthResponsive(xm){
    padding: 20px;
  }

  &-head{
    @include flexbox-display-flex();
    @include flexbox-flex-direction(row);
    @include flexbox-justify-content(space-between);
    @include flexbox-align-items(center);

    .sitetitle{
      margin: 0;
      * {color: $global-clr-white;}
    }
    i[class*="icons"]{
      @include svg-filter(0%, 1, 0, 100%);

      @include BootstrapMaxWidthResponsive(1k){
        @include scale(0.9);
      }
      @include BootstrapMaxWidthResponsive(md){
        @include scale(0.8);
      }
    }
  }

  .alert{
    margin-top: 20px;

    @include BootstrapMaxWidthResponsive(sm){
      margin-top: 10px;
    }

    & + form{
      margin-top: 20px;

      @include BootstrapMaxWidthResponsive(sm){
        margin-top: 10px;
      }
    }
  }

  &-form{
    margin-top: 40px;
    position: relative;
    z-index: 1;

    @include BootstrapMaxWidthResponsive(sm){
      margin-top: 10px;
    }

    #{$formclassname}-control{
      &[rows]{
        //height: 140px;
      }
    }

    .input-info{
      color: lighten($global-clr-green, 15%) !important;
      opacity: 1;

      a{color: lighten($global-clr-green, 15%) !important;}
    }

    .btn-lg{margin-top: 10px;}
  }
}