
.dfn{
  $dfnnavclassname: &;

  &-nav{
    background-color: transparent;
  }

  &-menu {
    font-size: 16px;
    letter-spacing: -0.16px;

    @include BootstrapMaxWidthResponsive(lg){
      background-color: darken($global-sitebg-darkblue01, 5%);
    }

    &-list{
      min-height: 38px;

      &-item{

        @include BootstrapMaxWidthResponsive(lg){
          border-bottom: 1px solid $global-sitebg-darkblue01;
        }

        > a{
          letter-spacing: -0.16px;

          @include BootstrapMaxWidthResponsive(xl){
            padding: 14px 10px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            padding: 14px 15px;
            font-size: 14px;
          }

          &[data-toggle="dropdown"]{
            &::before{
              @include BootstrapMinWidthResponsive(lg){
                content: "";
                display: inline-block;
                background-image: url(#{$global-img-path-icons}/icons_spite_12_dark.svg);
                background-position: 0 0;
                width: 12px;
                height: 12px;
                margin-right: 3px;
                position: relative;
                @include transition-multiple(transform 0.3s ease-in-out, filter 0.3s ease-in-out);
              }
              @include BootstrapMaxWidthResponsive(lg){
                border-right-color: $global-clr-soft-blue !important;
                border-top-color: $global-clr-soft-blue !important;
              }
            }
          }

          &[aria-expanded="true"]{
            &::before{
              @include BootstrapMinWidthResponsive(lg){
                @include rotate(90);
                @include svg-filter(0%, 1, 0, 100%);
              }
              @include BootstrapMaxWidthResponsive(lg){
                border-right-color: $global-clr-soft-blue !important;
                border-top-color: $global-clr-soft-blue !important;
              }
            }
          }
        }

        .dropdown-menu{
          background-color: transparentize(darken($global-sitebg-darkblue01, 3%), 0.02) !important;

          @include BootstrapMaxWidthResponsive(1k){
            top: 103px !important;
          }

          a{color: $global-clr-white;}

          &.show{}

          .menunav{

            @include BootstrapMaxWidthResponsive(1k){
              font-size: 14px;
            }

            ul{
              li{
                &:hover::after{
                  border-color: $global-clr-white;
                }

                &::after{
                  border-top-color: $global-clr-soft-blue;
                  border-right-color: $global-clr-soft-blue;
                }
              }
            }
          }

          .megamenu{
            &-nav{
              @include BootstrapMaxWidthResponsive(1k){
                padding: 20px 15px 20px;
              }
              @include BootstrapMaxWidthResponsive(lg){
                padding: 15px;
              }
            }
            &-desc{
              &-title{
                color: $global-clr-white;

                @include BootstrapMaxWidthResponsive(1k){
                  font-size: 32px;
                }
                @include BootstrapMaxWidthResponsive(xl){
                  display: none;
                }
              }
            }
          }

          .megamultimenu{
            &-desc{
              &-title{
                color: $global-clr-soft-blue;
              }
            }
          }
        }
      }
    }
  }

  &-headnav{
    #{$dfnnavclassname}-menu{
      &-list{
        &-item{}
      }
    }
  }
  &-mobilemenu{
    &-logo{
      padding: 15px 15px 10px;

      img{
        max-width: 110px;
      }
    }
    &-btn{
      .btntext{
        color: $global-clr-white;
        display: none;
      }
      .btnicon{
        span,
        span::before,
        span::after{
          background-color: $global-clr-white;
        }
      }
    }
    &-mask{
      background-color: transparentize($global-sitebg-darkblue01, 0.5);
      @include backdrop-filter-multiple(blur(5px));
    }
    &-sign{
      display:none;

      @include BootstrapMaxWidthResponsive(xm){
        display: block !important;
        margin: 0 !important;
        padding: 10px 15px !important;
        border-top: 1px solid $global-sitebg-darkblue01;
        border-bottom: 1px solid $global-sitebg-darkblue01;
      }
    }
  }

  &-canvaskapat{
    #{$dfnnavclassname}-mobilemenu-btn{
      .btnicon{
        span{
          &::before,
          &::after{background-color: $global-clr-red;}
        }
      }
    }
    #{$headerclassname}-navigation-logo-link{
      opacity: 0;
    }
  }
}