.sitepagination{
  @include flexbox-display-flex();
  @include flexbox-justify-content(center);
  width: 100%;
  margin-top: 40px;

  .pagination{
    margin: auto;
    padding: 0;

    .page{

      &-item{
        margin: 0 5px;

        &.active{
          .page-link{
            color: $global-clr-white;
            background-color: $global-clr-red;
            border-color: $global-clr-red;
          }
        }

        &.disabled{
          .page-link{
            &.prev,
            &.next{
              i{
                @include svg-filter(0%, 50%, 0, 100%);
                opacity: 0.25;
              }

              &:hover{
                i{@include svg-filter(0%, 50%, 0, 100%);}
              }
            }
          }
        }
      }

      &-link{
        color: $global-clr-text-dark;
        background-color: $global-clr-white;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: -0.48px;
        min-width: 40px;
        height: 100%;
        min-height: 36px;
        padding: 6px 10px;
        text-align: center;
        border: 1px solid $global-border-light-gray;
        @include border-radius(4px);
        @include transition-multiple(background 0.05s ease-in-out);

        &.prev,
        &.next{
          padding: 0;

          i{
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDQwIDQwIj4NCiAgPGcgaWQ9IlByZXYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05OTUuMzMzIC01MDQpIj4NCiAgICA8ZyBpZD0iUmVjdGFuZ2xlXzUyIiBkYXRhLW5hbWU9IlJlY3RhbmdsZSA1MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTk1LjMzMyA1MDQpIiBmaWxsPSIjZmZmIiBzdHJva2U9InJnYmEoMTMsMTIwLDE5NiwwLjIpIiBzdHJva2Utd2lkdGg9IjEiIG9wYWNpdHk9IjAiPg0KICAgICAgPHJlY3Qgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiByeD0iNCIgc3Ryb2tlPSJub25lIi8+DQogICAgICA8cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjM5IiBoZWlnaHQ9IjM5IiByeD0iMy41IiBmaWxsPSJub25lIi8+DQogICAgPC9nPg0KICAgIDxnIGlkPSJBcnJvdyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAxOS4wODMgNTE3LjAwMSkgcm90YXRlKDkwKSI+DQogICAgICA8bGluZSBpZD0iTGluZV8xIiBkYXRhLW5hbWU9IkxpbmUgMSIgeDE9IjcuNSIgeTI9IjcuNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNy41KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMGQ3OGM0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPg0KICAgICAgPGxpbmUgaWQ9IkxpbmVfMiIgZGF0YS1uYW1lPSJMaW5lIDIiIHgxPSI3LjUiIHkxPSI3LjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzBkNzhjNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCiAgICA8L2c+DQogIDwvZz4NCjwvc3ZnPg0K");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;
            width: 100%;
            height: 100%;
          }

          &:hover{
            i{@include svg-filter(0%, 1, 0, 100%);}
          }
        }

        &.prev{
          i{@include rotate(0);}
        }
        &.next{
          i{@include rotate(180);}
        }

        &.active,
        &:hover{
          color: $global-clr-white;
          background-color: $global-clr-red;
          border-color: $global-clr-red;
        }
      }
    }
  }
}