
.component{

  &-sitefeature{
    @include flexbox-display-flex();
    @include flexbox-justify-content(space-between);
    text-align: center;

    li{
      padding: 15px;
    }

    i[class*="icons"]{
      display: block;
      margin: auto;
    }

    h4{
      font-size: 16px;
      line-height: 1.25;
      padding-top: 35px;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid $global-clr-soft-black;
        @include border-radius(3px);
        top: 8px;
        left: 50%;
        @include translateX(-50%);
      }

      span{display: block;}
    }
  }

  &-summarytable{
    .summarytable{

      &-tabnav{
        border-top: 1px solid $global-clr-soft-gray;
      }

      &-tabcontent{}

      &-tablearea{}

      &-table{

        .btncell{
          width: 150px;
          .btn{
            width: 120px;
          }
        }

        tbody tr{
          &:hover{
            .btn-light{
              color: $global-clr-white;
              background-color: $global-clr-green;
              border-color: $global-clr-green;
            }
          }
        }

        .btn-light{
          background-color: $global-clr-white;
          border-color: $global-border-light-gray;
          @include transition-multiple(background-color 0.15s ease-in-out);

          &:hover{
            color: $global-clr-white;
            background-color: $global-clr-green;
            border-color: $global-clr-green;
          }
        }
      }
    }
  }

}