
.component{

  &-sitefeatureicons{
    @include flexbox-display-flex();
    @include flexbox-justify-content(space-between);
    text-align: center;

    .owl {
      &-stage {
        &-outer {
          @include BootstrapMinWidthResponsive(lg){
            overflow: visible !important;
          }
        }
      }
    }

    li{
      padding: 15px;
    }

    i[class*="icons"]{
      display: block;
      margin: auto;
    }

    .boxcontent{
      &-title{
        font-family: $global-font-family-default !important;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 35px;
        position: relative;

        &::before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 10px solid $global-clr-soft-black;
          @include border-radius(3px);
          top: 8px;
          left: 50%;
          @include translateX(-50%);
        }

        span{display: block;}
      }
    }
  }

  &-sitefeatureboxs{
    @include flexbox-display-flex();
    @include flexbox-justify-content(space-between);
    text-align: center;

    .owl {
      &-stage {
        &-outer {
          @include BootstrapMinWidthResponsive(lg){
            overflow: visible !important;
          }
        }
      }
    }

    li{
      background-color: $global-clr-white;
      padding: 5px 45px 45px;
      @include border-radius(10px);
      @include box-shadow(0, 0, 20px, transparentize($global-clr-dark-black, 0.90));
      @include transition-multiple(box-shadow 0.3s ease-in-out);

      &:hover{
        @include box-shadow(0, 0, 30px, transparentize($global-clr-dark-black, 0.80));

        .boxicons{
          i[class*="icons-out"]{
            transform: rotate(30deg) scale(1.15);
          }
        }
      }
    }

    .boxicons{
      position: relative;
      width: 200px;
      height: 200px;
      margin: auto;

      i[class*="icons"]{
        position: absolute;
        top: 0;
        display: block;
        @include transition-multiple(transform 0.5s ease-in-out);
      }
      i[class*="icons-in"]{
        z-index: 1;
      }
    }

    .boxcontent{
      margin-bottom: 15px;

      &-title{
        font-size: 25px;
        font-weight: 600;
        line-height: 1.2;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;

        &::before{
          content: "";
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: $global-clr-soft-black;
          bottom: 0;
          left: 50%;
          @include translateX(-50%);
        }
      }

      &-desc{
        font-size: 18px;
        font-weight: normal;
        line-height: 1.22;
      }

      &-more{
        color: $global-clr-soft-blue;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .featuresbox{}
  }

  &-summarytable{
    .summarytable{

      &-tabnav{
        border-top: 1px solid $global-clr-soft-gray;
      }

      &-tabcontent{}

      &-tablearea{}

      &-table{

        .btncell{
          width: 150px;
          .btn{
            width: 120px;
          }
        }

        tbody tr{
          &:hover{
            .btn-light{
              color: $global-clr-white;
              background-color: $global-clr-green;
              border-color: $global-clr-green;
            }
          }
        }

        .btn-light{
          background-color: $global-clr-white;
          border-color: $global-clr-soft-gray;
          @include transition-multiple(background-color 0.15s ease-in-out);

          &:hover{
            color: $global-clr-white;
            background-color: $global-clr-green;
            border-color: $global-clr-green;
          }
        }
      }
    }
  }

  &-siteaccounttypes{
    @include flexbox-display-flex();
    @include flexbox-justify-content(space-between);
    text-align: center;

    li{

      .boxcontent{
        border-right: 1px solid $global-clr-soft-black;
      }

      &:first-child{
        .boxcontent{
          padding-left: 0;
        }
      }
      &:last-child{
        .boxcontent{
          padding-right: 0;
          border-right: none;
        }
      }
    }

    i.icons-texttypes{
      height: 44px;
      font-family: $global-font-family-proximanova-thin !important;
      font-size: 50px;
      font-style: normal;
      line-height: 1;
      text-align: center;
      display: block;
      margin: 0 auto 10px;
    }

    .boxcontent{
      padding: 0 25px;

      &-title{
        font-family: $global-font-family-proximanova-thin !important;
        font-size: 20px;
        font-weight: 100;
        line-height: 1;
        padding-bottom: 20px;
        margin-bottom: 10px;
        position: relative;

        &::before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 10px solid $global-clr-soft-black;
          @include border-radius(3px);
          bottom: 0;
          left: 50%;
          @include translateX(-50%);
        }
      }

      &-desc{
        font-size: 16px;
        line-height: 1.25;
      }

      &-more{
        color: $global-clr-soft-blue;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
      }
    }
  }

}